body {
  margin: 0;
  padding: 0;
  color: green; }

header {
  height: 100px;
  border-bottom: 5px solid black;
  box-shadow: 3px 3px 5px green; }

h1 {
  vertical-align: middle;
  float: right;
  display: inline-block;
  margin: 1% 2% 0 2%; }

#logo {
  margin-top: 1%;
  height: 50px;
  width: 75px;
  float: right; }

section {
  width: 75%;
  display: inline-block;
  vertical-align: top; }

article {
  margin: 1% 0 1% 5%;
  width: 22%;
  display: inline-block;
  background: black; }
  article img {
    margin: 0 9px 0 6px; }

form {
  display: none;
  /* margin: 2% 0 2% 2%;
    width: 22%;
    float: right;
    height: 100%;
    background: black; */
  /*   input{
    margin: 2% 0 2% 2%;
  } */ }

textarea {
  margin: 2% 0 0 2%; }

.show {
  display: block; }
