body {
  margin: 0;
  padding: 0;
  color: green; }

header {
  height: 100px;
  border-bottom: 5px solid black;
  box-shadow: 3px 3px 5px green; }

h1 {
  vertical-align: middle;
  float: right;
  display: inline-block;
  margin: 1% 2% 0 2%; }

#logo {
  margin-top: 1%;
  height: 50px;
  width: 75px;
  float: right; }

.content {
  background: url('assets/cow_wallpaper.jpg');
  background-repeat: repeat;
  background-size: cover; }

article {
  margin: 1% 0 1% 5%;
  width: 22%;
  display: inline-block;
  background: black; }
  article img {
    margin: 0 9px 0 6px; }

aside {
  width: 15%;
  margin: 0 0 0 0;
  float: right;
  background: black; }

form {
  margin: 35% 0 88% 4%;
  height: 100%;
  display: block; }
  form input {
    margin: 2% 0 0 2%; }

textarea {
  margin: 2% 0 0 2%; }
